<!DOCTYPE html>
<html>
  <head>
   

    <title>{% block title %}3bbsanch3z{% endblock title %}</title>
    {% load static %}

    {% block head_meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head_meta %}

    {% block head_css %}
        {# Materialize #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {# GoogleFonts #}
        
        {# GlobalCSS #}
        
    {% endblock head_css %}

    {% block head_js %}
    	{# jquery #}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      {# Vue #}
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
      {# axios #}
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	    {# Materialize #}
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
    {% endblock head_js %}

</head>
<body class="{% block bodyclass %}bodyclass{% endblock bodyclass %}">
  {% block header %}
  {% endblock header %}
  
  {# PC Nav #}
  {% block nav %}
 	<nav class=''>
		<div class="nav-wrapper">
	      <a href="#" class="brand-logo left"><img id="logo" src="{% static 'front_page/media/3bbsanch3z.png'%}" alt=""></a>
	      <ul id="nav-mobile" class="right hide-on-small-only">
	        {# <li><a class='white-text' href="/filters">Filters</a></li> #}
	        {# <li><a href="/blog">Blog</a></li> #}
	        {# <li><a href="/resume">Resume</a></li> #}
	      </ul>
	    </div>
	</nav>
  <div id="looking-for-job">
      <a href="https://instagram.com/3bbsanch3z">Want a custom filter? Inbox me on instagram!  </a>
  </div>

          
  {% endblock nav %}
      
  {% block messages %}
    {% if messages %}
    <div class="container messages pink-text text-accent-1 black-text center">
      <ul class="messages container">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          <h5>{{ message }}</h5>
          </li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endblock messages %}
      
  {% block content %}  
  {% endblock content %}

  {% block footer %}

  <footer class="black white-text center">
    <a class="white-text" href="https://www.instagram.com/3bbsanch3z">
      <p>
      Copyright © Designed & Developed by @3bbsanch3z
      </p>
    </a>
  </footer>

  {% endblock footer %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>