{% extends "base.html" %}
{% block head_css %}
	{{block.super}}
	{% load static %}
	{# Fonts #}
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
	{# CSS #}
	<link rel="stylesheet" type="text/css" href="{% static 'front_page/main.css' %}">
{% endblock head_css %}
{% block nav %}
	{{block.super}}
{% endblock nav %}
{% block content %}
	<div class="profile container center">
		<div class='avatar_container'>
			{# Vue Refactor: avatar #}
			<img class="avatar circle" src="{% static 'front_page/media/avatar.JPG' %}" alt="">
		</div>
		<h1>
			{# Vue Refactor: name #}
			<a href="https://instagram.com/3bbsanch3z">3bbsanch3z
			</a>
		</h1>
		<h2>
			{# Vue Refactor: title? #}
			Filters Creator
		</h2>
		<section>
			{# Vue Refactor: description #}
			Exploring the beauty of Augmented Reality.
			<br>
			Make stunning shoot in a snap.
			<br>
			Have fun.
		</section>
	</div>
	<h1>Filters</h1>		
	<div id="filters" class='filters row'>
		<section class='filter col s6 m4 l3'
			v-for="filter in filters_data"
		>
			<video muted='true' loop='true' autoplay>
				<source class="demo" v-if='filter.demo_replace == null' :src="filter.demo">
				<source v-else class="replace_demo" :src="filter.demo_replace">
			</video>
			<a :href="filter.link">
				<div class='filter-info'>
					<img class='avatar' :src="filter.avatar" alt="">
					<h3>[[filter.name]]</h3>
				</div>
			</a>
		</section>
	</div>
	<script type="text/javascript" src="{% static 'front_page/script.js'%}"></script>
{% endblock content %}